In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm,pearsonr
import io
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [2]:
df=pd.read_csv('Innovation on economic growth.csv')
df=df.loc[0:35]
del df['Unnamed: 3'],df['Unnamed: 4'],df['Unnamed: 5']
df

                                    State/UT  Economic growth  Innovation
0                             Andhra Pradesh             67.0        52.0
1                          Arunachal Pradesh             50.0        31.0
2                                      Assam             50.0        39.0
3                                      Bihar             50.0        24.0
4                               Chhattisgarh             64.0        36.0
5                                        Goa             76.0        68.0
6                                    Gujarat             64.0        72.0
7                                    Haryana             59.0        66.0
8                           Himachal Pradesh             78.0        61.0
9                                  Jharkhand             54.0        37.0
10                                 Karnataka             66.0        64.0
11                                    Kerala             62.0        60.0
12                            Madhya Pradesh             60.0        37.0
13                               Maharashtra             62.0        66.0
14                                   Manipur             36.0        35.0
15                                 Meghalaya             63.0        25.0
16                                   Mizoram             51.0        32.0
17                                  Nagaland             48.0        30.0
18                                    Odisha             48.0        46.0
19                                    Punjab             57.0        69.0
20                                 Rajasthan             57.0        45.0
21                                    Sikkim             71.0        52.0
22                                Tamil Nadu             71.0        71.0
23                                 Telangana             73.0        59.0
24                                   Tripura             57.0        35.0
25                             Uttar Pradesh             53.0        42.0
26                               Uttarakhand             63.0        56.0
27                               West Bengal             57.0        53.0
28               Andaman and Nicobar Islands             59.0        23.0
29                                Chandigarh             70.0        45.0
30  Dadra and Nagar Haveli and Daman and Diu             57.0        47.0
31                                     Delhi             65.0        66.0
32                         Jammu and Kashmir             47.0        42.0
33                                   Ladakh              59.0        48.0
34                               Lakshadweep             62.0        40.0
35                                Puducherry             68.0        59.0

In [3]:
mean = 55

In [4]:
df = df.sort_values('Innovation',ascending = False)
new_df =df.head(5)
new_df

      State/UT  Economic growth  Innovation
6      Gujarat             64.0        72.0
22  Tamil Nadu             71.0        71.0
19      Punjab             57.0        69.0
5          Goa             76.0        68.0
31       Delhi             65.0        66.0

In [5]:
GndEq=df['Economic growth']
from scipy.stats.stats import ttest_1samp
t_value,p_value = ttest_1samp(GndEq,mean)
print('Test statistic is %f'%float("{:.6f}".format(t_value)))

print('p-value for one tailed test is %f'%p_value)

Test statistic is 3.200842
p-value for one tailed test is 0.002912